* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

/**
 *  BASE
 *  Fonts, container and default values
 ***/

 html {
  width: 100%;
  height: 100%;
 }


 body {
  position: relative;
  margin: 0;
  min-height: 100%;
  color: #444;
  background-color: #f1f1f1;
  font: 16px/1.4563 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.toolbar {
  padding-left: 4%;
  padding-right: 4%;
}

.wrapper,
.footer {
  padding-left: 2.5%;
  padding-right: 2.5%;  
}

/**
 *  HEADER
 *  Toolbar and Menu handle
 ***/

.toolbar {
  background-color: #273442;
  color: #fff;
  font-size: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
    0 4px 5px 0 rgba(0,0,0,.14),
    0 1px 10px 0 rgba(0,0,0,.12);
}

.toolbar__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  vertical-align: middle;
  padding: 0;
  outline: none!important;
}

.toolbar__icon:hover {
  cursor: pointer;
}

.toolbar__icon span {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.toolbar__icon span:before,
.toolbar__icon span:after {
  content: '';
  position: relative;
  display: block;
  background-color: #fff;
  top: -6px;
  left: 0;
  width: 18px;
  height: 2px;
}

.toolbar__icon span:after {
  top: 4px;
  left: 0;
}

.toolbar__title {
  font-size: 18px;
  margin-left: 25px;
  display: inline-block;
  vertical-align: middle;   
}

/**
*  MENU
*  Menu overlay and Menu items
***/

.overlay {
  position: absolute;
  display: none;
  pointer-events: none;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.overlay.active {
  display: block;
  pointer-events: auto;
}

.menu {
  position: fixed;
  z-index: 9;
  width: 250px;
  padding-top: 20px;
  top: 0;
  left: -999px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
    0 4px 5px 0 rgba(0,0,0,.14),
    0 1px 10px 0 rgba(0,0,0,.12); 

  transition: left 0.3s ease-in-out; 
}

.menu.opened {
  left: 0;
}

.menu__item {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.2s ease-in;
}

.menu__item:hover {
  background-color: rgba(0,0,0,0.1);
}

/**
*  WRAPPER
*  Content card, schedule, about and footer
***/

.wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}

.content {
  background-color: #fff;
  padding: 20px 25px 30px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
    0 4px 5px 0 rgba(0,0,0,.14),
    0 1px 10px 0 rgba(0,0,0,.12);  
}

.loading {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  margin: 40px auto;
  border: 4px solid #FF644B;
  border-radius: 100%;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; 
}

.loading:after{
  position: absolute;
  content: '';
  background-color: #fff;
  width: 15px;
  height: 10px;
  top: -5px;
  left: 30%;
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.schedule__form {
  font-size: 0;
} 

.schedule__form__label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.schedule__form__input[type='number'] {
  display: inline-block;
  background-color: transparent;
  width: calc(100% - 100px);
  padding: 8px;
  border-radius: 0;
  font-size: 16px;
  border: solid 1px #cccccc;
  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

  -moz-appearance:textfield;
  -webkit-appearance: none;
  -moz-appearance: none;  
}

.schedule__form__input::-webkit-outer-spin-button,
.schedule__form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

.schedule__form__submit {
  width: 100px;
  padding: 8px;
  padding: 8px;
  font-size: 16px;
  border-radius: 0;
  border: none;
  background-color: #FF644B;  
  border: solid 1px #FF644B;
  color: #fff;
  outline: none!important;
  transition: background-color .4s ease-in,
    border-color .4s ease-in;    
}

.schedule__form__submit:hover,
.schedule__form__submit:active,
.schedule__form__submit:focus, {
  border-color: #ce442e;
  background-color: #ce442e;
}

.schedule__form__error {
   font-size: 14px;
   display: none;
   margin-top: 5px;
   color: #D8201E;
}

.schedule__results {
  margin-top: 25px;
  display: none;
}

.point__description,
.point__address {
  font-size: 14px;
  margin: 4px 0 0;
}

.lines__item {
  margin-top: 15px; 
  padding-top: 15px;
  font-size: 0;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.lines__item__number {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.lines__item__number h3{
  font-size: 18px;
  margin-top: 0;
}

.lines__item__number p{
  font-size: 12px;
  color: #555;
  margin: 0;
}

.lines__item__time {
  padding-left: 10px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}

.lines__item__time span {
  display: block;
}

.lines__item__time span:first-child { 
  margin-bottom: 10px;
}


.about {
  display: none;
}

.about h2 {
  margin-top: 0;
}

.about a {
  color: #FF644B;
}

/**
*  MEDIA QUERIES
*  Styles for screen sizes greater than 900px
***/

@media all and (min-width: 900px) {
  .toolbar,
  .wrapper,
  .footer {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
  }   
}